.CaseContent {
    width: 100%;


    .title {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 36px;
        color: $fontColor;
        text-align: center;
        font-weight: 700;
    }

    .CaseContentWrap {
        @include globalWidth();
        background-color: #fff;
        padding: 80px 100px;
        border-radius: 10px;

    }
}