.HelpBar {
    height: 221px;
    width: 100%;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    background-image: url('../../assets//imgs/HelpBar/HelpBarBg.jpg');
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 40px 0;
    box-sizing: border-box;
    margin-top: 50px;

    .text {
        color: #fff;
        font-weight: 900;
        font-size: 50px;
        text-align: center;
    }

    .img {
        z-index: -999;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .buttonWrap {
        width: 100%;
        margin-top: 2.5%;

    }
}