.ProductionGuid {
    $height: 64px;
    height: $height;
    width: 100%;
    background-color: #fff;

    .ProductionGuidWrap {
        @include globalWidth();
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;

        .link {
            position: relative;
            display: inline-block;
            height: $height;
            line-height: $height;
            text-decoration: none;
            color: $fontColor;
            font-size: 16px;
            margin-right: 60px;

            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 3px;
                border-radius: 3px;
                width: 0%;
                background-color: $navigatorActiveFontColor;
                transition: all .5s;
            }

            &.active {
                &::before {
                    width: 100%;
                }
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }

}