.ProductionIntro {
    $height: 429px;
    height: $height;
    width: 100%;
    background-color: #f5f5f5;
    position: relative;

    .ProductionIntroWrap {
        @include globalWidth();
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            $leftWidth: 620px;
            $leftHeight: 400px;

            width: $leftWidth;
            height: $leftHeight;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e5e5e5;
            border-radius: 15px;

            .img {
                height: $leftHeight*0.7;
            }
        }

        .right {
            margin-left: 70px;

            .mainTitle {
                font-size: 36px;
                color: $fontColor;
                font-weight: 700;
            }

            .title {
                font-size: 20px;
                color: $textFontColor;
                margin-top: 40px;
                font-weight: 700;
            }

            .content {
                font-size: 16px;
                color: $textFontColor;
                margin-top: 20px;
            }

            .buttonWrap {
                $buttonHeight: 46px;
                $buttonColor: $navigatorActiveBottmLineColor ;
                $buttonActiveColor: $navigatorActiveBottmLineColor;
                height: $buttonHeight;
                width: 100%;
                margin-top: 2.5%;
                animation: fadeInUP .5s ease-in .6s;

                .button {
                    height: $buttonHeight;
                    line-height: $buttonHeight;
                    border-radius: $buttonHeight;
                    border: 1px solid $buttonColor;
                    color: $buttonColor;
                    text-align: center;
                    font-weight: 900;
                    width: 140px;
                    overflow: hidden;
                    background-color: transparent;
                    position: relative;
                    z-index: 10;
                    transition: all 1s;

                    &::before {
                        content: "";
                        display: inline-block;
                        position: relative;
                        height: 100%;
                        width: 100%;
                        border-radius: $buttonHeight ;
                        background-color: $buttonActiveColor;
                        transform: translateX(-100%);
                        transition: all .7s;
                        z-index: -1;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    &:hover {
                        border-color: $buttonActiveColor;
                        color: #fff;

                        &::before {
                            transform: translateX(0%);
                        }
                    }
                }
            }

        }
    }
}