.DemandCard {
    height: 300px;
    width: 375px;
    box-sizing: border-box;
    position: relative;
    padding: 60px 12px 0;
    background-color: #fff;
    border-radius: 10px;
    transition: all .5s;

    &:hover {
        background-color: $navigatorActiveBottmLineColor;

        .title {
            color: #fff;
        }

        .content {
            color: #fff
        }
    }

    .iconWrap {
        $iconHeight: 60px;
        height: $iconHeight;
        position: relative;
        width: 100%;

        .icon {
            height: $iconHeight;
            width: $iconHeight;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            &.active {
                opacity: 1;
            }
        }
    }

    .title {
        font-weight: 700;
        font-size: 20px;
        color: $fontColor;
        text-align: center;
        margin-top: 15px;
    }

    .content {
        font-size: 16px;
        text-align: center;
        margin-top: 15px;
    }
}