.DemandAnalysis {
    width: 100%;
    position: relative;
    margin-top: 80px;

    .DemandAnalysisWrap {
        @include globalWidth();

        .mainTitle {
            font-size: 36px;
            font-weight: 700;
            text-align: center;
        }

        .cardWrap {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            flex-wrap: wrap;
        }

    }
}