.NavigatorItem1 {
    height: 100%;
    padding: 0 15px;
    background-color: #fff;
    position: relative;

    .link {
        height: 100%;
        background-color: #fff;
        color: $navigatorFontColor;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        font-size: 16px;

        cursor: pointer;

        s {
            transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
            border: 5px solid transparent;
            border-top-color: $navigatorFontColor;
            left: 5px;
            margin: 0 0 -8px;
            position: relative;
            width: 0;
        }

        .buttonLine {
            width: 0%;
            height: 3px;
            display: inline-block;
            position: absolute;
            transition: all 0.4s;
            background: $navigatorActiveBottmLineColor;

            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }

        &:hover {

            .buttonLine {
                width: 100%;
            }

            &+.list {
                display: block !important;
                z-index: 999;
                opacity: 1;
            }
        }
    }

    .list {
        width: 160px;
        position: absolute;
        top: 75px;
        left: 0;
        transform: translateX(-25%);
        background-color: #fff;
        padding: 25px 0;
        box-shadow: 0 0 10px 0 #c0c0c0bb;
        transition: all 0.4s;
        display: none !important;
        z-index: -999;
        opacity: 0;

        &:hover {
            display: block !important;
            z-index: 999;
            opacity: 1;
        }

        .listItem {
            display: block;
            text-decoration: none;
            height: 44px;
            line-height: 44px;
            width: 160px;
            padding: 0 auto;
            color: #333;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: $navigatorActiveBgColor;
                color: $navigatorActiveFontColor;
            }
        }
    }
}