* {
    padding: 0;
    margin: 0;
}

@mixin globalWidth {
    width: 75%;
    max-width: 1440px;
    min-width: 1150px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;

    @media screen and (max-width:1680px) {
        width: 80%;
    }
}

// 动画
@keyframes fadeInUP {
    0% {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

// Navigator
$navigatorFontColor: #323334;
$navigatorActiveFontColor: #1274e2;
$navigatorActiveBgColor: #f1f7fd;
$navigatorActiveBottmLineColor: #1275e5;
$navigatorBarHeight: 70px;